<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/profile/main.css" />
    <link rel="stylesheet" href="/css/global/toggle.css" />
    <title>RI5E | Profile</title>
    <script type="module" src="/js/dom.js"></script>
    <script type="module" src="/js/profile/main.js"></script>
    <script type="module">
        import User from "/game/user.js";

        import "/module/html.js";
        import Text from "/module/text.js";

        import confirm from "/game/function/confirm.js";

        window.addEventListener("load", () => {
            fetch("/api/user", { credentials: "include" })
                .then(res => {
                    if (res.ok) return res.json();
                    window.location.href = "/login?error=not_logged_in";
                })
                .then(data => {
                    const user = new User(data);
                    document.qs("span.title>span.username").textContent = user.username;
                    document.qs("span.subtitle>span.name").textContent = user.name;
                    document.qs("span.subtitle>span.email").textContent = user.email.toLowerCase();
                    document.qs("span.subtitle>span.auth-service").textContent = user.auth_service.case().get();

                    document.qs("div.danger-zone>div.logout").addEventListener("click", () => window.location.href = "/logout");
                    document.qs("div.danger-zone>div.delete-account").addEventListener("click", async () => {
                        if (await confirm("Are you sure you want to delete your account? This action is irreversible.")) {
                            fetch("/api/user/data", { method: "DELETE", credentials: "include" })
                                .then(res => {
                                    if (res.ok)
                                        window.location.href = "/login";
                                    else
                                        alert("Failed to delete account. Please try again.");
                                });
                        }
                    });
                });
        });
    </script>
</head>
<body>
    <span class="title"><span class="username">John Doe</span>'s Profile</span>
    <span class="subtitle">
        <span class="name">John Doe</span>|
        <span class="email">johndoe@example.com</span>|
        <span class="auth-service">Service</span>
    </span>
    <div class="settings">
        <div class="setting" data-setting="dark_mode">
            <div class="toggle-container">
                <span class="label">Dark Mode</span>
                <div class="toggle">
                    <span class="indicator on">&#x23FD;</span>
                    <span class="indicator off">&#x2B58;</span>
                    <div class="switch on"></div>
                </div>
            </div>
        </div>
        <div class="setting" data-setting="dyslexic_mode">
            <div class="toggle-container">
                <span class="label">Dyslexic Mode</span>
                <div class="toggle">
                    <span class="indicator on">&#x23FD;</span>
                    <span class="indicator off">&#x2B58;</span>
                    <div class="switch"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="danger-zone">
        <span class="title">Danger Zone</span>
        <span class="description">These actions are irreversible. Please proceed with caution.</span>
        <div class="button logout">Logout</div>
        <div class="button delete-account">Delete Account</div>
    </div>
</body>
</html>