body {
    --main-size: min(96vh, 50vw);

    -webkit-user-select: none;
    user-select: none;

    background: #222;
    margin: 0;

    font: normal 16px/1.5 "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    &>div#main {
        position: fixed;

        height: var(--main-size);
        width: var(--main-size);
        top: calc(50vh - var(--main-size) / 2);
        left: 2vh;

        &>div#map {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            &>div.content {
                display: grid;
                grid: repeat(64, 1fr) / repeat(64, 1fr);

                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                border: 1vmin solid saddlebrown;
                border-radius: 2vmin;

                overflow: hidden;

                width: min(96vh, 50vw);
                height: min(96vh, 50vw);

                background: gainsboro;

                transition: all 0.2s ease-in-out;

                &>div.biome {
                    cursor: pointer;

                    &.locked {
                        border: 1px solid #222;
                        opacity: 0.5;
                    }
                    &.selected { border: 3px solid #44b; }
                    &.fog {
                        cursor: default;
                        opacity: 0;
                    }
                }
            }
            &:has(>div.panel:not(.hidden))>div.content {
                border-top-right-radius: 0vmin;
                border-bottom-right-radius: 0vmin;
            }

            &>div.panel { /* float on right side of content */
                position: absolute;
                top: 50%;
                left: calc(50% + calc(min(96vh, 50vw) / 2) + 1vmin);
                transform: translateY(-50%);

                width: calc(min(96vh, 50vw) / 2 - 2vmin);
                height: calc(min(96vh, 50vw) + 2vmin);

                background: rgba(0, 0, 0, 0.5);
                color: white;

                border-top-right-radius: 2vmin;
                border-bottom-right-radius: 2vmin;

                overflow: hidden;
                white-space: nowrap;

                transition: all 0.2s ease-in-out;

                &.hidden {
                    width: 0vmin;
                    height: calc(min(96vh, 50vw) / 1.1);
                }

                &>div.title {
                    text-align: center;
                    font-size: 3vmin;
                    font-weight: bold;

                    padding: 0.5vmin;
                    margin-top: 1vmin;
                }
                &>div.description {
                    text-align: center;
                    font-size: 2vmin;
                    font-weight: bold;
                }
                &>div.climate {
                    text-align: center;
                    white-space: pre;
                    font-size: 1.75vmin;

                    padding: 1vmin;
                    margin-top: 1vmin;
                }

                &>div.button.purchase {
                    position: absolute;
                    bottom: 1vmin;
                    left: 1vmin;
                    right: 1vmin;

                    padding: 1vmin;
                    border-radius: 1vmin;

                    text-align: center;

                    background: #232326;

                    transition: background 0.2s ease-in-out;

                    &.disabled {
                        background: #232326;
                        color: #666;
                        cursor: not-allowed;
                    }

                    &:not(.disabled) {
                        cursor: pointer;
                        color: white;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 1vmin;
                            top: 50%;
                            transform: translateY(-50%);

                            width: 2vmin;
                            height: 2vmin;

                            background-image: url(/assets/coin.svg);
                            background-size: cover;
                        }

                        &:hover { background: #343436; }
                        &:active { background: #454546; }
                    }
                }
            }
        }
    }

    *.auto-scroll { /* scroll horizontally if text doesn't fit */
        overflow-x: auto;
        overflow-y: hidden;

        white-space: nowrap;

        &::-webkit-scrollbar { display: none; }
    }
    *.enter-focus {
        outline: 2px solid #44b;
        &.disabled { outline: 2px solid #666; }
    }
}